{% extends "layout.html" %}
{% block content %}

<style type="text/css">
input[type=number] {
	width: 50%;
	/*padding: 12px 20px;*/
	left-margin: `0;
	box-sizing: border-box;
	border: 2px solid #4CAF50;
	margin-bottom: 2px;
	border-radius: 10px;
	align-self: : right;
}

input[type=submit] {
	background-color: #4CAF50;
	border-radius: 5px;
	border-color:  #4CAF50;
	color: white;
	/*padding: 16px 32px;*/
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

select{
	border: 2px solid #4CAF50;
	border-radius: 10px;
}

/*input[type=checkbox] {
	margin-top: 12px;
}*/

.align_left_pls {
	float: left;
	margin-left: 3px;
}

.small {
	line-height: 31.5px;
}

.mt10 = {
	margin-top: 100px;
}

</style>


<div class="content-section">
	<h3>relay controls</h3>
	<form method="post">
		<div id="form-group">
		    <div class="align_left_pls" style="width: 33%;">
		        <label for="relay_ID">ID</label><br>
		    	<label for="relay_ONTIME">Ontime</label><br>
		    	<label for="relay_OFFTIME">Offtime</label><br>
		    	<label for="relay_STARTDELAY">Start Delay<label><br>
		   
		    </div >
		    <div class="align_left_pls" >
		        <input type="number" placeholder = "1" name="relay_ID"><br>
		      	<input type="number" name="relay_ONTIME"><br>
		      	<input type="number" name="relay_OFFTIME"><br>
		      	<input type="number" name="relay_STARTDELAY"><br><br>
		      	<input type="submit">
		    	
		    </div>
			<div class="align_left_pls">
		        <small class="small text-muted ">[1-4]</small><br>
		    	<small class="text-muted small">[seconds]</small><br>
		    	<small class="text-muted small">[seconds]</small><br>
		    	<small class="text-muted small">[seconds]</small><br>
		    </div>
		    <div style="clear: both;"></div>
		    <!-- <input type="text" name="email"> <br>
		    <a href=# id=test><button class='btn btn-default'>Test</button></a> -->
		</div>
	</form>
</div>
<div class="content-section">
	<h3>fan controls</h3>
	<form method="post">
		<div id="form-group">
			<div class="align_left_pls" style="width: 33%;">
		        <label for="fan_number">Fan</label><br>
		        <label for="fan_value">Value</label><br>
		        <label for="fan_mode">Fan Mode</label><br>
		    </div >
		    <div class="align_left_pls">
				<select type="text" name="fan_number" id="fan_number">
					<option value="9">Ventilation</option>
					<option value="1">Fog</option>
					<option value="3">Turbulence</option>
				</select>
		    	<input style="margin-top: 3px;" type="number" min="0" max="100" step='5'name="fan_value" placeholder="{{placeholders.fan_value}}"><br>
		    	<select style="margin-top: 3px;" class="mt4" name="fan_mode"id="fan_mode">
					<option value="auto">Auto</option>
					<option value="manual">Manual</option>
				</select><br><br>
				<input type="submit">
			</div>
			<div style="clear: both;"></div>
		</div>
	</form>
</div>
<div class="content-section">
	<p>Last Feedback:</p>
	<small>{{ response }}</small>
</div>
{% endblock content%} 
